name: Release Sumot

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Electron (win-unpacked only)
        run: npm run dist

      - name: Create sumot.zip
        run: Compress-Archive -Path dist/win-unpacked -DestinationPath dist/sumot.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sumot
          path: dist/sumot.zip

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Display artifacts
        run: ls -R artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: SUMOT ${{ github.ref_name }}
          files: artifacts/**/sumot.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
